.container {
  width: 1226px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.focus-border-style {
  border: 1px solid #ff6700;
}

.big-img {
  width: 1226px;
  height: 120px;
}

.big-img img {
  width: 1226px;
}

.big-img a {
  display: block;
  height: 100%;
}

.green {
  background: #83c44e;
}

.red {
  background: #e53935;
}