.site-ad-subbar .subbar-top {
  margin-top: 14px;
  height: 170px;
  display: flex;
  justify-content: space-between;
}

.site-ad-subbar .subbar {
  width: 230px;
  height: 166px;
  padding: 2px;
  background: #5f5750;
}

.site-ad-subbar .ad-prod {
  width: 316px;
  height: 100%;
}

.site-ad-subbar .ad-prod a {
  display: block;
  width: 100%;
  height: 100%;
}

.site-ad-subbar .ad-prod img {
  width: 316px;
  height: 170px;
}

.site-ad-subbar .subbar-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.site-ad-subbar .subbar-item {
  width: 76px;
  height: 82.5px;
}

.site-ad-subbar .subbar-item a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 82px;
  text-align: center;
  color: rgba(255,255,255,0.7);
}

.site-ad-subbar .subbar-item a:hover {
  color: white;
}

.site-ad-subbar .subbar-item a span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.5;
  font-size: 12px;
}

.site-ad-subbar .subbar-item a span i {
  font-size: 24px;
}

.site-ad-subbar .verticalLine {
  width: 1px;
  height: 70.5px;
  margin: 6px 0;
  background: #665e57;
}

.site-ad-subbar .horizontalLine {
  width: 64px;
  height: 1px;
  background: #665e57;
}

.site-ad-subbar .subbar-bottom {
  margin-top: 26px;
  margin-bottom: 42px;
}